
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  
  font-family: 'bebas neue', sans-serif;
  /* background-color: #0a192f;  */
  color: #ccd6f6;           
  background: radial-gradient(circle,#0d1e38, #0a192f);
}



.wrapper {
  display: flex; 
  height: 100vh; /* full viewport height */
}

/* NAV side */

.sidebar {
  
  
  height: 100vh;  
  
  /* background-color: #112240; */
  background: linear-gradient(to right,#0b1b33, #112240 );
  
  
  padding: 2rem 2rem;
  
  align-items: center; 
  display: flex;
  flex-direction: column;
  
}

.sidebar h1 {

  white-space: nowrap;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 1rem;
  border:2px solid #0a192f;
  
  border-radius: 2px;
  padding: 0.5rem;
}

.sidebar nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  padding: 0rem 2rem;
}



/* NAV side links*/
.sidebar nav a {
  
  display: flex;
  align-items: center;
  font-size: 2rem;

  
  width: 100%;
  

  
  padding: 0.5rem 0; /*vert only*/
  
  text-decoration: none;
  color: #8892b0;        
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  
  
  margin-bottom: 0.75rem; 

 
}


.sidebar nav a:hover {
  color: #fff;
}

.sidebar nav a.active {
  color: #fff;
}

/*indicator line*/
.sidebar nav a::before {
  content: "";
  
  display: inline-block;

  width: 20px;        
  height: 2px;       
  
  background-color: #8892b0;
  margin-right: 0.5rem; 
  
  transition: 
    width 0.3s ease-in-out, 
    background-color 0.3s ease-in-out;
}



/*  extend the line */
.sidebar nav a:hover::before {
  width: 40px;
  background-color: #fff;
}

/* Active link base is bigger line  */
.sidebar nav a.active::before {
  width: 60px;
  background-color: #fff;
}

/* hover logic If user hovers anywhere in nav, the active link goes less
     unless hovering that link*/

/* when hovering ANY link in the nav, shrink/dim the active link 
   unless were actually hovering link */
.sidebar nav:hover a.active {
  color: #8892b0;        
}
.sidebar nav:hover a.active::before {
  width: 20px;
  background-color: #8892b0;
}

/* BUT if we hover the active link itself keep it big */
.sidebar nav a.active:hover {
  color: #fff;
}
.sidebar nav a.active:hover::before {
  width: 60px;
  background-color: #fff;
}


.sidebar button {
  margin-top: auto; 
  background-color: transparent;
  border:2px solid #0a192f;
  box-sizing: border-box;
  color:#8892b0;  
  overflow: hidden;
  padding: 1.1rem 4rem;
  font-family: 'bebas neue', sans-serif;
  font-size: 2rem;

  transition: 
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
 
}

.sidebar button:hover {
  
  color: #fff;
  border:2px solid #fff;
  
}


/* wrapper for the icon links */
.sidebar-icons {
  margin: 5px;
  display: flex;
  gap: 1rem; 
  border:2px solid #0a192f;
  border-radius: 2px;
  padding: 0.5rem;
}




.icon-button {
  display: inline-flex;          
  align-items: center;           
  justify-content: center;       
  
 
  background-color: transparent; 
  border-radius: 50%;              
  border: none;                  
  
  
  width: auto;
  height: auto;

  text-decoration: none;
  color: inherit;       
  padding: 0;          

  transition: background-color 0.2s ease-in-out;
}


.icon-button:hover {
  background-color:  #8892b0; 
       
}


.icon-button img {
  width: 24px;          
  height: 24px;         
  display: block;       
}



/* 
   MAIN CONTENT
*/

.main-content {
  
  margin-left: 0px; 
  padding: 2.5% 15%;
  overflow-y: auto; 
  height: 100vh;    /* full  height of view */
  font-family: 'Arial', 'sans';
}

.main-content img {
  width: 40%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.main-content img.wide-image {
  width: 100%;
  
}

.main-content img.service-img {
  width: 150px
}


h1, h2 {
  color: #fff;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 1rem;
  
}

.subhead {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

.subhead-service{
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

.subhead::before {
  /*diamond part*/
  content: "";
  display: inline-block;
  
  
  width: 1rem;
  height: 1rem;
  
  
  border: 2px solid #fff;       
  background: transparent;      

  
  transform: rotate(45deg) translateY(-5px); /*makes square a diamond and needs more offset*/
  
  margin-right: 1rem;         
  vertical-align: middle;       
}

.div-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.div-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.div-flex-service {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #8892b0;
}

li {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #8892b0;
}

.resume {
  width: 100%;
  height: 800px; 
  border: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.sidediv {
  
}

.sidediv-outer {
  width: 50%;
}

.div-flex-side {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.div-flex-side img {
  width: 150px;
  height: 150px;
}











